@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
nav {
    border-bottom: 1px solid transparent;
    color: var(--color4);
    min-height: 10vh;
    text-align: left;
    line-height: 8vh;
    font-size: 48px;
    font-family: 'Hurricane', cursive;
    padding: 1rem 2rem;
}
nav > span {
    margin-left: 1rem;
}
.navbar__icon {
    height: 46px;
}
