@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
nav {
    border-bottom: 1px solid transparent;
    color: var(--color4);
    min-height: 8vh;
    text-align: left;
    line-height: 8vh;
    font-size: 48px;
    font-family: 'Hurricane', cursive;
    padding-left: 25px;
}
