@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
nav {
    border-bottom: 1px solid transparent;
    color: var(--color2);
    min-height: 10vh;
    text-align: left;
    line-height: 8vh;
    font-size: 48px;
    font-family: 'Hurricane', cursive;
    padding: 1rem 2rem;
}
nav > span {
    margin-left: 1rem;
}
.navbar__icon {
    height: 46px;
}

.typingText__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem ;
    width: 100%;
}
.typingText__container h2, .typingText__container h1 {
    color: var(--color2);
}
h1 {
    font-size: 58px;
    font-family: 'Hurricane', cursive;
    letter-spacing: .1rem;
}
h2 {
    font-size: 28px;
}
h1 span {
    transition: blinked 500ms;
}

@keyframes blinked {
    50% {
        opacity: 0;
    }
}