@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;500&display=swap');
:root {
  --color1: #5d5c61;
  --color2: #7395AE;
  --color3: #557A95;
  --color4: #B1A296

}
body {
  margin: 0;
  font-family: 'M PLUS 1', sans-serif;
  background-color: var(--color1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
