@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;500&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');
:root {
  --color1: whitesmoke;
  --color2: #5d5c61;

}
body {
  margin: 0;
  font-family: 'M PLUS 1', sans-serif;
  background-color: var(--color1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
